.reviews {
  padding-bottom: 50px;
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
  }
}
.reviews-card {
  display: flex;
  &__round {
    margin-right: 50px;
    width: 169px;
    height: 169px;
  }
  &__title {
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
  }
  &__subtitle {
    color: #646464;
    font-size: 14px;
    font-weight: 500;
  }
  &__comment {
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 10px;
  }
}
